section { margin-bottom:5em; } 
.hero-unit { margin-top:20px;padding-left:-2em;}
.join-tosdr {margin: 2em 1em 2em 0;}

@media (max-width: 600px) {
.join-tosdr.pull-left {float:none;}
.hero-unit h1 {font-size:2em;}
}

.A {background-color: #46A546;}
.badge.A {-webkit-border-radius:1em; -moz-border-radius:1em; border-radius:1em; }
.B, .badge-success, .badge-good {background-color: #79B752;}
.badge.B {-webkit-border-radius0.75em; -moz-border-radius:0.75em; border-radius:0.75em; }
.C {background-color: #F89406;}
.badge.C {-webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
.D, .badge-warning, .badge-mediocre {background-color: #D66F2C;}
.badge.D {-webkit-border-radius:0.25em; -moz-border-radius:0.25em; border-radius:0.25em; }
.E, .badge-alert {background-color: #C43C35;}
.badge.E, .badge-important {-webkit-border-radius:0.25em; -moz-border-radius:0.25em; border-radius:0.25em; }

.tosdr-rating label {float:left; width:25%;margin-right: 1.5em;padding:.5em 1em;text-align:right;text-transform: uppercase;}

.badge i {color:transparent;font-size:.001em;}

#filter-services .control-label {font-weight:700;}
.show-only-label {display:block;width:100%;line-height:1em;}
.show-only-label a {color:#FFF; }
.show-only-label a.inactive {color:#999; }
.show-only-label .A > a.inactive, .show-only-label .B > a.inactive, .show-only-label .C > a.inactive, .show-only-label .D > a.inactive, .show-only-label .E > a.inactive {background-color:#CCC; }

#services-list .row .span6, #services-list .row-fluid .span6 {margin-bottom:2em;}

#categories .badge {float:left;margin-right:.5em;}
#categories .row { margin-bottom:1em; }

img.favlogo {margin:-.3em 5px 0 0; }

ul.tosdr-points li {display:block;line-height:1.5em;color: #666;}
/*ul.tosdr-points li span.badge {margin-left:1.5em;}*/
/*ul.tosdr-points li:first-child span.badge {margin-left:0;}*/

.service-nutshell h3 {
background: #F5F5F5;
-webkit-border-radius:0.25em; -moz-border-radius:0.25em; border-radius:0.25em; 
padding: .3em .5em .2em;
box-shadow: 0 0 .5em rgba(245,245,245,0.9);
}

.service-nutshell .service-rating {
padding:1em 1em 0;
}

.service-nutshell section.specificissues {
padding:0 1em;
}

ul.tosdr-points , ul.eff-hasyourback {
list-style-type:none;
margin-left:0;
margin-bottom:1.5em;
}

@media (max-width: 600px) {.tosdr-infos {top:0;left:0;margin:0 auto;} }
@media (max-height: 500px) {.tosdr-infos {top:0;margin-top:0;width:600px;} }

.tosdr-infos { 
max-width:100%;
max-height:100%;
}


button.close {padding:2px 6px 6px;}

.tosdr-infos ul.eff-hasyourback li {min-height:1.5em;}

section.specificissues {margin-bottom:.5em;}


.tosdr-points a:hover {text-decoration: none;}
.tosdr-points a:hover.source:after {
content:"See the source";
color: #666;
margin-left: 1em;
font-style:italic;
}


.modal-backdrop {background-color: #FFF;}

#bottom {
border-top: 1px solid #CCC;
padding-top:2em;
}
