body { padding-top:60px; }
section { margin-bottom:5em; }
.hero-unit { padding:2em; }
.row { margin-bottom:2em; }
.span8 .label, #classification p+.label, table .label { padding:.3em .8em; }
.label+p { position:relative; top:-1.4em; left:1.5em; margin-bottom:-1em; padding-right:2em; }
.btn img { position:relative; bottom:-.18em; }
