body { padding-top:60px; }
section { margin-bottom:5em; }
.hero-unit { position:relative; width:100%; padding:2em; left:-2em; }
.row { margin-bottom:2em; }
.span8 .label, #classification p+.label, table .label { padding:.3em .8em; }
.label+p { position:relative; top:-1.4em; left:1.5em; margin-bottom:-1em; padding-right:2em; }
.btn img { position:relative; bottom:-.18em; }
.label.success { -webkit-border-radius:1em; -moz-border-radius:1em; border-radius:1em; }
.label.warning { -webkit-border-radius:.5em; -moz-border-radius:.5em; border-radius:.5em; }
.label.important { -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
