<!DOCTYPE html>
<html>

  <head>
    <title>Backbone Demo: Sites</title>
    <link href="sites.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="json2.js"></script>
    <script src="../jquery-min.js"></script>
    <script src="../underscore-min.js"></script>
    <script src="../backbone-min.js"></script>
    <script src="backbone-localstorage.js"></script>
    <script src="sites.js"></script>
  </head>

  <body>

    <!-- Site App Interface -->

    <div id="siteapp">

      <div class="title">
        <h1>Sites</h1>
      </div>

      <div class="content">

        <div id="create-site">
          <input id="new-site" placeholder="What needs to be done?" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>

        <div id="sites">
          <ul id="site-list"></ul>
        </div>

        <div id="site-stats"></div>

      </div>

    </div>

    <ul id="instructions">
      <li>Double-click to edit a site.</li>
      <li><a href="../../docs/sites.html">View the annotated source.</a></li>
    </ul>

    <div id="credits">
      Created by
      <br />
      <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="site <%= done ? 'done' : '' %>">
        <div class="display">
          <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <div class="site-content"></div>
          <span class="site-icon BY">BY</span>
          <span class="site-icon PRIV">PRIV</span>
          <span class="site-icon DEL">DEL</span>
          <span class="site-icon END">END</span>
          <span class="site-icon CEN">CEN</span>
          <span class="site-icon GUV">GUV</span>
          <span class="site-icon OPP">OPP</span>
          <span class="site-icon DL">DL</span>
          <span class="site-icon EQ">EQ</span>
          <span class="site-icon ANON">ANON</span>
          <span class="site-destroy"></span>
        </div>
        <div class="edit">
          <input class="site-input" type="text" value="" />
        </div>
      </div>
    </script>

    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="site-count">
          <span class="number"><%= remaining %></span>
          <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
      <% } %>
      <% if (done) { %>
        <span class="site-clear">
          <a href="#">
            Clear <span class="number-done"><%= done %></span>
            completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
          </a>
        </span>
      <% } %>
    </script>

  </body>

</html>
