<div>
<form method="POST" style="float:left">
  <label style="text-align:right"> ID <input value="{{point.id}}" name="id"> </label>
  <label style="text-align:right"> title <input value="{{point.title}}" name="title"> </label>
  <label style="text-align:right"> service<input value="{{point.service}}" name="service"> </label>
  <label style="text-align:right"> irrelevant<input value="{{point.irrelevant}}" name="irrelevant"></label>
  <label style="text-align:right"> filename<input value="{{point.id}}.json" name="filename"></label>
  <input type="submit">
</form>
<pre>
  {{json}}
</pre>
</div>
<hr/>
