
<script>
  function show_bunch(reason){
    console.log('switching to ', reason);
    var list = document.getElementsByClassName('point');
    var len = list.length;
    var c = 0;
    for(var i = 0; i < len; i++){
      var el  = list[i];
      if( el.classList.contains('reason-'+reason) || reason == 'all' ){
        el.style.display = 'block';
        c++;
      }         
      else
        el.style.display = 'none';
    }
    console.log(len);
    document.getElementById("pointsCounter").innerHTML = c;
  }
</script>

<select onchange="show_bunch(event.srcElement.value)">
  <option selected value="all"> All </option>
  {{#reasons}}
  <option value="{{name}}">{{description}}</option>
  {{/reasons}}
</select>
<span id="pointsCounter">{{points.length}}</span>
<ul>
{{#points}}
<li class="point reason-{{reason}}"> 
  <a href="point/{{id}}"> {{id}} </a> | 
  <a href="{{discussion}}"> discussion </a>
  <br>
  <pre> {{{json}}} </pre>
</li>
{{/points}}
</ul>
