
<script>
  function show_bunch(reason){
    var list = document.getElementsByClassName('point');
    for(var i = 0; i <= list.length; i++){
      var el  = list[i];
      if( el.classList.contains('reason-'+reason) )
        el.style.display = 'block';
      else
        el.style.display = 'none';
    }
  }
</script>

{{#reasons}}
<button class="button" onclick="show_bunch({{name}})">{{description}}</button>
{{/reasons}}

{{#points}}
<li class="point reason-{{reason}}"> 
  <a href="?{{id}}"> {{id}} </a> | 
  <a href="{{discussion}}"> discussion </a>
  <br>
  <pre> {{{json}}} </pre>
</li>
{{/points}}
