<!DOCTYPE html>
<html lang="en" class="no-js"><!--TODO translatable-->
<head>
<link rel="stylesheet" href="/css/tosdr.min.css">
<link rel="icon" href="/img/tosdr-icon-16.png"> 
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/tosdr-icon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/tosdr-icon-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/tosdr-icon-72.png">
<link rel="apple-touch-icon-precomposed" href="/img/tosdr-icon-57.png">
<link rel="vcs-git" href="https://github.com/tosdr/tosdr.org.git" title="git source code">
<link rel="license" href="https://www.gnu.org/licenses/agpl-3.0.txt">
<link rel="copyright" href="/legal.html#copyright">
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<meta name="viewport" content="width=device-width; initial-scale=1.0;">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<title>Terms of Service, Didn’t Read</title>
<meta name="description" content="Terms of Service; Didn’t Read (ToS;DR) helps you understand the terms and privacy policies of websites. Get informed about your rights online, put an end to “the biggest lie on the Web.”">
<meta name="author" content="Terms of Service; Didn’t Read">
</head>

<body class="app lang-en" id="tosdr">

<div class="topbar">
    <nav role="nav">
        <a href="/" class="project-name">Terms of Service; Didn’t Read</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".top">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <ul class="top menu">
            <li><a href="/index.html#ratings">Ratings</a></li>
            <li><a href="/pending.html">Pending Reviews</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        <a href="#" class="top signin" role="button">#<span class="sr-only">Sign in</span></a>
            <!--If the user has already signed in show:
                <span class="signedin">Welcome, user@example.net</span>
            -->
    </nav>
</div>

<div id="content" class="app" role="application"> 
    <header class="masthead">
        <h1 class="project-name">Terms of Service;<span>Didn’t Read</span></h1>
        <p>“<strong>I have read and agree to the Terms</strong>” is the biggest lie on the web. <span class="fix">We&nbsp;aim to&nbsp;fix&nbsp;that.</span></p>
    </header>

    <article>
        <section id="intro">
            <p>We are a user rights <a href="about.html" title="Learn more about us">initiative</a> to <a href="classification.html" title="What's our classification?">rate and label</a> website terms &amp; privacy policies, from very good <span class="label A">Class A</span> to&nbsp;very&nbsp;bad&nbsp;<span class="label E">Class E</span>.</p>			
            <p>Terms of service are often <strong>too long to read</strong>, but it's important to understand what's in them. Your rights online depend on them. <!--Get informed about your rights: install the browser extension for <a href="https://addons.mozilla.org/en-US/firefox/addon/terms-of-service-didnt-read/">Firefox</a>, <a href="https://chrome.google.com/webstore/detail/hjdoplcnndgiblooccencgcggcoihigg">Chrome</a>, <a href="https://addons.opera.com/extensions/details/terms-of-service-didnt-read/">Opera</a> or <a href="http://safariextension.tosdr.org/">Safari</a>.</p-->We hope that our ratings can help you get informed abour your rights.<!-- Do not hesitate to click <a href="#services">on a service below</a>, to have more details! You can also get the ratings directly in your browser by installing our web browser add-on:</p-->
        </section>
    </article>

    <main id="ratings" role="main">
        <h2 class="page-header">Ratings</h2>

        <div class="controls">			
            <ul class="select">
                <li class="active"><a href="#services">Services</a></li>
                <li><a href="#topics">Topics</a></li>
            </ul>

            <form class="search">
                    <label>Search</label>
                    <input size="33" type="text" placeholder="e.g. facebook, twitter, search…">
            </form>
        </div>
        <div class="tosdr-list" id="services">
            <div data-search="google,search,groups,yahoo,duckduckgo,google.com" id="google-tosdr" class="service nutshell">
                <h3>
                    <a href="/service/google.html"><img src="/logo/google.png" class="favlogo">Google</a><span class="rating label C">Class C</span>
                </h3>
                <section class="specificissues">
                    <ul class="tosdr-points">
                        <li id="point-google-yCSzdR_gOW4" class="bad"><span class="badge" title="100"><span class="point">-100</span></span>&nbsp;Google keeps your searches and other identifiable user information for an undefined period of time</li>
                        <li id="point-google-Vn7He54dnVI" class="good"><span class="badge" title="60"><span class="point">+60</span></span>&nbsp;Google can use your content for all their existing and future services</li>
                        <li id="point-google-E58aPtzP3jk" class="bad"><span class="badge" title="60"><span class="point">-60</span></span>&nbsp;This service tracks you on other websites</li>
                        <li id="point-google-QZgR8faRWDU" class="neutral"><span class="badge" title="50"><span class="point">⋅50</span></span>&nbsp;Google can share your personal information with other parties</li>
                        <li id="point-google-eff-back-tell-user-no" class="blocker"><span class="badge" title="50"><span class="point">-150</span></span>&nbsp;No promise to inform you about data requests from governments</li>
                    </ul>
                    <a href="/service/google.html" class="more-details">More details</a>
                </section>
            </div>
        </div>
        <div class="tosdr-list" id="topics">
            <div data-search="waivers,waiving" id="waiving-tosdr" class="topic nutshell">
                <h3>
                    <a href="/topic/waivers.html">Waivers<span class="subtitle">What kind of rights do you give up on?</span></a>
                </h3>
                <section class="specificissues">
                    <ul class="tosdr-points">
                        <li id="point-waiver-3uiIrLyj8Hw" class="bad">
                        <h4><span class="badge point">50</span>&nbsp;Waiver of legal actions <span class="services"><img alt="" title="500px" class="favlogo" src="/logo/500px.png"><img alt="" title="500px" class="favlogo" src="/logo/500px.png"><img alt="" title="500px" class="favlogo" src="/logo/500px.png"></h4>
                            <p>“You shall not have any right to terminate the permissions granted herein, nor to seek, obtain, or enforce any injunctive or other equitable relief against 500px, all of which such rights are hereby expressly and irrevocably waived by you in favour of 500px.”</p>
                            <ul class="actions"><li><a href="https://groups.google.com/d/topic/tosdr/3uiIrLyj8Hw/discussion" target="_blank">Discussion</a></li></ul>
                        </li>
                    </ul>
                    <a href="/topic/waivers.html" class="more-details">More details</a>
                </section>
            </div>
        </div>
    </main>

</div>

<footer id="bottom" role="contentinfo">
    <nav class="to-top"><a href="#top">Go to top</a></nav>
    <section class="info">
        <p id="credits">
            Since 2012.
            Inspired by Mozilla’s Privacy Icons project, we want to fix <a href="http://www.biggestlie.com/">the biggest lie on the web</a>. We are also building <a href="http://www.tosback.org/">ToSBack</a>, the ToS-changes-tracker with EFF. Part of the <a href="http://www.opennotice.org/">Open Notice effort</a>.
        </p>
        <p id="legalinfo">
            <strong>Nothing here should be considered legal advice. This is not a substitute for reading and understanding the full terms applicable to you</strong>. Please refer to a qualified attorney for legal advice. We express our opinion with no guarantee and we do not endorse any service. 
        </p>
        <p id="licensing">
            <a href="https://tosdr.org">ToS;DR</a> is Free Software, licensed under the GNU Affero General Public License (<a href="http://www.gnu.org/licenses/agpl-3.0-standalone.html" rel="license">AGPL-3.0</a>). 
            Offer for <a href="https://github.com/tosdr/tosdr.org/zipball/master">Source (zip)</a>.
            Icons by <a href="http://fontawesome.io/">Font Awesome</a> used under <a href="http://scripts.sil.org/OFL">SIL OFL-1.1</a>.
        </p>
        <ul class="socialize">
            <li><a class="twitter" href="http://twitter.com/tosdr"><span>Follow us on Twitter</span></a></li>
            <li><a class="googleplus" href="https://plus.google.com/b/117929815628330307285/117929815628330307285/about"><span>Join us on Google+</span></a></li>
            <li><a class="facebook" href="https://www.facebook.com/TermsOfServiceDidntRead"><span>Like us on Facebook</span></a></li>
            <li><a class="github" href="https://github.com/tosdr/"><span>Fork us on Github</span></a></li>
        </ul>
    </section>
    <ul class="menu">
        <li><a href="/" class="project-name">ToS;DR</a>
        <ul>
            <li><a href="/index.html#services">Ratings by service</a></li>
            <li><a href="/index.html#topics">Ratings by topic</a></li>
            <li><a href="/downloads.html">Install in your web browser</a></li>
            <li><a href="/about.html">About Terms of Service; Didn’t Read</a></li>
        </ul></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/faq.html">F. A. Q.</a></li>
        <li><a href="/contribute.html">Contribute</a>
        <ul>
            <li><a href="/pending.html">Pending reviews</a></li>
            <li><a href="/submit.html">Submit your review</a></li>
            <li><a href="/api.html">Use our API</a></li>
        </ul></li>
    </ul>
    <nav class="nav">
        <a class="privacy-policy tos" href="/legal.html">Legal information</a>
        <a class="imprint" href="/imprint.html">Imprint</a>
        <a href="/thanks.html">List of funders</a>
    </nav>
    <p id="hosting">
        <a href="http://unhosted.org" class="unhosted">Un</a><span>hosted by</span>
        <a href="https://5apps.com" class="fiveapps">5apps</a>
    </p>
</footer>

<script src="/bootstrap-3.1.1/js/collapse.js"></script>
<script src="/bootstrap-3.1.1/js/modal.js"></script>
<script src="/js/tosdr.js"></script>
<script src="/js/services.js"></script>


</body>
</html>
