<!DOCTYPE html>
<html lang="en" class="no-js"><!--TODO translatable-->
<head>
<link rel="stylesheet" href="/css/tosdr.min.css">
<link rel="icon" href="/img/tosdr-icon-16.png"> 
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/tosdr-icon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/tosdr-icon-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/tosdr-icon-72.png">
<link rel="apple-touch-icon-precomposed" href="/img/tosdr-icon-57.png">
<link rel="vcs-git" href="https://github.com/tosdr/tosdr.org.git" title="git source code">
<link rel="license" href="https://www.gnu.org/licenses/agpl-3.0.txt">
<link rel="copyright" href="/legal.html#copyright">
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<meta name="viewport" content="width=device-width; initial-scale=1.0;">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<title>Google - Terms of Service, Didn’t Read</title>
<meta name="description" content="Terms of Service; Didn’t Read (ToS;DR) helps you understand the terms and privacy policies of websites. Get informed about your rights online, put an end to “the biggest lie on the Web.”">
<meta name="author" content="Terms of Service; Didn’t Read">
</head>

<body class="app lang-en" id="google">

<div class="topbar">
    <nav role="nav">
        <a href="/" class="project-name">Terms of Service; Didn’t Read</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".top">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <ul class="top menu">
            <li><a href="/index.html#ratings">Ratings</a></li>
            <li><a href="/pending.html">Pending Reviews</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        <a href="#" class="top signin" role="button">#<span class="sr-only">Sign in</span></a>
            <!--If the user has already signed in show:
                <span class="signedin">Welcome, user@example.net</span>
            -->
    </nav>
</div>

<div id="content" class="service" role="application"> 
    <header class="masthead">
        <h1><img src="/logo/google.png" class="favlogo">Google</a><span class="rating label C">Class C</span></h1>
    </header>

    <main id="service" class="tosdr-review" role="main">
        <ul class="tosdr-points">
            <li id="point-google-yCSzdR_gOW4" class="bad">
                <h4><span class="badge point">-100</span>&nbsp;Google keeps your searches and other identifiable user information for an undefined period of time</h4>
                <p>Google collects a lot of information about the services you use and how you use them, including when you visit a website using a Google service for advertisement. In the past, Google stated in their Privacy Policy: <em>“We strike a reasonable balance between the competing pressures we face, such as the privacy of our users, the security of our systems and the need for innovation. We believe anonymizing IP addresses after 9 months and cookies in our search engine logs after 18 months strikes the right balance”</em>. Today, these limitations of time are gone from the Privacy Policy, although <a href="http://support.google.com/accounts/bin/answer.py?hl=en&amp;answer=162743">some pages</a> still acknowledge this. So we must conclude that Google has decided to stop trying to find the right balance between privacy of users and their own needs.</p>
                <ul class="actions"><li><a href="https://groups.google.com/d/topic/tosdr/yCSzdR_gOW4/discussion" target="_blank">Discussion</a></li></ul>
            </li>
        </ul>
    </main>

    <section class="tosdr-list" id="related">
        <h2>Related Services</h2>
        <div data-search="google,search,groups,yahoo,duckduckgo,google.com" id="google-tosdr" class="service nutshell">
            <h3>
                <a href="/service/google.html"><img src="/logo/google.png" class="favlogo">Google</a><span class="rating label C">Class C</span>
            </h3>
            <section class="specificissues">
                <ul class="tosdr-points">
                    <li id="point-google-yCSzdR_gOW4" class="bad"><span class="badge" title="100"><span class="point">-100</span></span>&nbsp;Google keeps your searches and other identifiable user information for an undefined period of time</li>
                    <li id="point-google-Vn7He54dnVI" class="good"><span class="badge" title="60"><span class="point">+60</span></span>&nbsp;Google can use your content for all their existing and future services</li>
                    <li id="point-google-E58aPtzP3jk" class="bad"><span class="badge" title="60"><span class="point">-60</span></span>&nbsp;This service tracks you on other websites</li>
                    <li id="point-google-QZgR8faRWDU" class="neutral"><span class="badge" title="50"><span class="point">⋅50</span></span>&nbsp;Google can share your personal information with other parties</li>
                    <li id="point-google-eff-back-tell-user-no" class="blocker"><span class="badge" title="50"><span class="point">-150</span></span>&nbsp;No promise to inform you about data requests from governments</li>
                </ul>
                <a href="/service/google.html" class="more-details">More details</a>
            </section>
        </div>
    </section>
</div>

<footer id="bottom" role="contentinfo">
    <nav class="to-top"><a href="#top">Go to top</a></nav>
    <section class="info">
        <p id="credits">
            Since 2012.
            Inspired by Mozilla’s Privacy Icons project, we want to fix <a href="http://www.biggestlie.com/">the biggest lie on the web</a>. We are also building <a href="http://www.tosback.org/">ToSBack</a>, the ToS-changes-tracker with EFF. Part of the <a href="http://www.opennotice.org/">Open Notice effort</a>.
        </p>
        <p id="legalinfo">
            <strong>Nothing here should be considered legal advice. This is not a substitute for reading and understanding the full terms applicable to you</strong>. Please refer to a qualified attorney for legal advice. We express our opinion with no guarantee and we do not endorse any service. 
        </p>
        <p id="licensing">
            <a href="http://tosdr.org">ToS;DR</a> is Free Software, licensed under the GNU Affero General Public License (<a href="http://www.gnu.org/licenses/agpl-3.0-standalone.html" rel="license">AGPL-3.0</a>). 
            Offer for <a href="https://github.com/tosdr/tosdr.org/zipball/master">Source (zip)</a>.
            Icons by <a href="http://fontawesome.io/">Font Awesome</a> used under <a href="http://scripts.sil.org/OFL">SIL OFL-1.1</a>.
        </p>
        <ul class="socialize">
            <li><a class="twitter" href="http://twitter.com/tosdr"><span>Follow us on Twitter</span></a></li>
            <li><a class="googleplus" href="https://plus.google.com/b/117929815628330307285/117929815628330307285/about"><span>Join us on Google+</span></a></li>
            <li><a class="facebook" href="https://www.facebook.com/TermsOfServiceDidntRead"><span>Like us on Facebook</span></a></li>
            <li><a class="github" href="https://github.com/tosdr/"><span>Fork us on Github</span></a></li>
        </ul>
    </section>
    <ul class="menu">
        <li><a href="/" class="project-name">ToS;DR</a>
        <ul>
            <li><a href="/index.html#services">Ratings by service</a></li>
            <li><a href="/index.html#topics">Ratings by topic</a></li>
            <li><a href="/downloads.html">Install in your web browser</a></li>
            <li><a href="/about.html">About Terms of Service; Didn’t Read</a></li>
        </ul></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/faq.html">F. A. Q.</a></li>
        <li><a href="/contribute.html">Contribute</a>
        <ul>
            <li><a href="/pending.html">Pending reviews</a></li>
            <li><a href="/submit.html">Submit your review</a></li>
            <li><a href="/api.html">Use our API</a></li>
        </ul></li>
    </ul>
    <nav class="nav">
        <a class="privacy-policy tos" href="/legal.html">Legal information</a>
        <a class="imprint" href="/imprint.html">Imprint</a>
        <a href="/thanks.html">List of funders</a>
    </nav>
    <p id="hosting">
        <a href="http://unhosted.org" class="unhosted">Un</a><span>hosted by</span>
        <a href="https://5apps.com" class="fiveapps">5apps</a>
    </p>
</footer>

<script src="/bootstrap-3.1.1/js/collapse.js"></script>
<script src="/bootstrap-3.1.1/js/modal.js"></script>
<script src="/js/tosdr.js"></script>
<script src="/js/services.js"></script>


</body>
</html>
