
<section class="topic">
  <div class="page-header">
    <h3> {{topic.name}} 
      <small>{{topic.subtitle}}</small>
    </h3> 
  </div>
  <div class="topic-description">
    <p class="description">
      {{topic.description}}
    </p>
  </div>
  <section class="specificissues">
    <ul class="tosdr-points row">
      {{{points}}}
      <li class="point">
        <button onclick="this.parentElement.getElementsByClassName('new-case-form')[0].classList.toggle('hidden');">
          New Case
        </button>
        <form method="POST" class="new-case-form hidden" action="/case/">
          <input type="hidden" value="{{topic.id}}" name="topic">
          <label> Name <input name="name"> </label>
          <label> Description <textarea name="description"> </textarea></label>
          <label> Score <input name="score"> </label>
          <label> Point <select name="point">
              <option value = "good"> Good </option>
              <option value = "bad"> Bad </option>
              <option value = "blocker"> Blocker </option>
              <option value = "neutral"> Neutral </option>
            </select>
          </label>
          <input type="submit">
        </form>
      </li>
    </ul>
  </section>
  
</section>

<hr/>
