
<li class="span6 point">
  <span class="badge {{badge}}">{{score}}</span>&nbsp;
  <a class="tldr" data-toggle="collapse" data-target="#collapse-point-{{topic}}-{{id}}" href="#{{topic}}-{{id}}">
    <img height="24" alt="" title="{{service}}" class="favlogo" src="logo/{{service}}.png">
    {{name}}&nbsp;&nbsp;&nbsp;
    <i class="icon icon-chevron-down icon-collapser"></i>
  </a>
  <p class="collapse tldr" id="collapse-point-{{topic}}-{{id}}">
    {{{tldr}}}
    <a href="{{discussion}}" target="_blank" class="label context">
      Discussion
    </a>
  </p>
</li>
